$colorFirst: #D0A567;
$colorFirstOpacity: rgba(208,165,103,.3);
$colorFirstHover: #DCBC8D;
$colorFirstClick: #B28037;
$colorSecond: #D0A567;
$colorSubstrate: #F9F3EA;
$colorBg: #FAF8F5;
$colorBlack: #000000;
$colorGray90: #404040;
$colorGray70: #8C8C8C;
$colorGray50: #C4C4C4;
$colorGray40: #D8D8D8;
$colorGray40: #D8D8D8;
$colorGray30: #F1F1F1;
$colorGray10: #FAF9F9;
$colorWhite: #ffffff;
$colorSuccess: #70AC41;
$colorError: #BA1515;

$fontFamily: "Open Sans", sans-serif;
$fontFamilyHeader: "Prata";



$indents: (
  0, 5, 10, 15, 20,
  25, 30, 35, 40, 45,
  50, 55, 60, 65, 70,
  75, 80, 85, 90, 95,
  100, 120, 200
);

@each $indent in $indents {
	$indent-name: $indent;
	$indent-value: $indent;

	@if ($indent-name == 0) {
		$indent-name: '0';
	} @else {
		$indent-value: #{$indent-value}px;
	}

	.p-#{$indent-name},
	.pt-#{$indent-name},
	.pv-#{$indent-name} {
		padding-top: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pb-#{$indent-name},
	.pv-#{$indent-name} {
		padding-bottom: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pl-#{$indent-name},
	.ph-#{$indent-name} {
		padding-left: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pr-#{$indent-name},
	.ph-#{$indent-name} {
		padding-right: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mt-#{$indent-name},
	.mv-#{$indent-name} {
		margin-top: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mb-#{$indent-name},
	.mv-#{$indent-name} {
		margin-bottom: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.ml-#{$indent-name},
	.mh-#{$indent-name} {
		margin-left: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mr-#{$indent-name},
	.mh-#{$indent-name} {
		margin-right: #{$indent-value} !important;
	}
}

@media (min-width: 640px) {
	@each $indent in $indents {
		$indent-name: $indent;
		$indent-value: $indent;

		@if ($indent-name == 0) {
			$indent-name: '0';
		} @else {
			$indent-value: #{$indent-value}px;
		}

		.p-s-#{$indent-name},
		.pt-s-#{$indent-name},
		.pv-s-#{$indent-name} {
			padding-top: #{$indent-value} !important;
		}

		.p-s-#{$indent-name},
		.pb-s-#{$indent-name},
		.pv-s-#{$indent-name} {
			padding-bottom: #{$indent-value} !important;
		}

		.p-s-#{$indent-name},
		.pl-s-#{$indent-name},
		.ph-s-#{$indent-name} {
			padding-left: #{$indent-value} !important;
		}

		.p-s-#{$indent-name},
		.pr-s-#{$indent-name},
		.ph-s-#{$indent-name} {
			padding-right: #{$indent-value} !important;
		}

		.m-s-#{$indent-name},
		.mt-s-#{$indent-name},
		.mv-s-#{$indent-name} {
			margin-top: #{$indent-value} !important;
		}

		.m-s-#{$indent-name},
		.mb-s-#{$indent-name},
		.mv-s-#{$indent-name} {
			margin-bottom: #{$indent-value} !important;
		}

		.m-s-#{$indent-name},
		.ml-s-#{$indent-name},
		.mh-s-#{$indent-name} {
			margin-left: #{$indent-value} !important;
		}

		.m-s-#{$indent-name},
		.mr-s-#{$indent-name},
		.mh-s-#{$indent-name} {
			margin-right: #{$indent-value} !important;
		}
	}
}

@media (min-width: 960px) {
	@each $indent in $indents {
		$indent-name: $indent;
		$indent-value: $indent;

		@if ($indent-name == 0) {
			$indent-name: '0';
		} @else {
			$indent-value: #{$indent-value}px;
		}

		.p-m-#{$indent-name},
		.pt-m-#{$indent-name},
		.pv-m-#{$indent-name} {
			padding-top: #{$indent-value} !important;
		}

		.p-m-#{$indent-name},
		.pb-m-#{$indent-name},
		.pv-m-#{$indent-name} {
			padding-bottom: #{$indent-value} !important;
		}

		.p-m-#{$indent-name},
		.pl-m-#{$indent-name},
		.ph-m-#{$indent-name} {
			padding-left: #{$indent-value} !important;
		}

		.p-m-#{$indent-name},
		.pr-m-#{$indent-name},
		.ph-m-#{$indent-name} {
			padding-right: #{$indent-value} !important;
		}

		.m-m-#{$indent-name},
		.mt-m-#{$indent-name},
		.mv-m-#{$indent-name} {
			margin-top: #{$indent-value} !important;
		}

		.m-m-#{$indent-name},
		.mb-m-#{$indent-name},
		.mv-m-#{$indent-name} {
			margin-bottom: #{$indent-value} !important;
		}

		.m-m-#{$indent-name},
		.ml-m-#{$indent-name},
		.mh-m-#{$indent-name} {
			margin-left: #{$indent-value} !important;
		}

		.m-m-#{$indent-name},
		.mr-m-#{$indent-name},
		.mh-m-#{$indent-name} {
			margin-right: #{$indent-value} !important;
		}
	}
}

@media (min-width: 1200px) {
	@each $indent in $indents {
		$indent-name: $indent;
		$indent-value: $indent;

		@if ($indent-name == 0) {
			$indent-name: '0';
		} @else {
			$indent-value: #{$indent-value}px;
		}

		.p-l-#{$indent-name},
		.pt-l-#{$indent-name},
		.pv-l-#{$indent-name} {
			padding-top: #{$indent-value} !important;
		}

		.p-l-#{$indent-name},
		.pb-l-#{$indent-name},
		.pv-l-#{$indent-name} {
			padding-bottom: #{$indent-value} !important;
		}

		.p-l-#{$indent-name},
		.pl-l-#{$indent-name},
		.ph-l-#{$indent-name} {
			padding-left: #{$indent-value} !important;
		}

		.p-l-#{$indent-name},
		.pr-l-#{$indent-name},
		.ph-l-#{$indent-name} {
			padding-right: #{$indent-value} !important;
		}

		.m-l-#{$indent-name},
		.mt-l-#{$indent-name},
		.mv-l-#{$indent-name} {
			margin-top: #{$indent-value} !important;
		}

		.m-l-#{$indent-name},
		.mb-l-#{$indent-name},
		.mv-l-#{$indent-name} {
			margin-bottom: #{$indent-value} !important;
		}

		.m-l-#{$indent-name},
		.ml-l-#{$indent-name},
		.mh-l-#{$indent-name} {
			margin-left: #{$indent-value} !important;
		}

		.m-l-#{$indent-name},
		.mr-l-#{$indent-name},
		.mh-l-#{$indent-name} {
			margin-right: #{$indent-value} !important;
		}
	}
}

.uk-width-1-12 { width: 8.333%; }
.uk-width-2-12 { width: 16.666%; }
.uk-width-3-12 { width: 25%; }
.uk-width-4-12 { width: 33.333%; }
.uk-width-5-12 { width: 41.666%; }
.uk-width-6-12 { width: 50%; }
.uk-width-7-12 { width: 58.333%; }
.uk-width-8-12 { width: 66.666%; }
.uk-width-9-12 { width: 75%; }
.uk-width-10-12 { width: 83.333%; }
.uk-width-11-12 { width: 91.666%; }

/* Only tablets and desktop */
@media (min-width: 640px) {

    .uk-width-medium-1-12 { width: 8.333%; }
    .uk-width-medium-2-12 { width: 16.666%; }
    .uk-width-medium-3-12 { width: 25%; }
    .uk-width-medium-4-12 { width: 33.333%; }
    .uk-width-medium-5-12 { width: 41.666%; }
    .uk-width-medium-5col-12 { width: 20%; }
    .uk-width-medium-6-12 { width: 50%; }
    .uk-width-medium-7-12 { width: 58.333%; }
    .uk-width-medium-8-12 { width: 66.666%; }
    .uk-width-medium-9-12 { width: 75%; }
    .uk-width-medium-10-12 { width: 83.333%; }
    .uk-width-medium-11-12 { width: 91.666%; }

}

/* Only desktop */
@media (min-width: 960px) {

    .uk-width-large-1-12 { width: 8.333%; }
    .uk-width-large-2-12 { width: 16.666%; }
    .uk-width-large-3-12 { width: 25%; }
    .uk-width-large-4-12 { width: 33.333%; }
    .uk-width-large-5-12 { width: 41.666%; }
    .uk-width-large-6-12 { width: 50%; }
    .uk-width-large-7-12 { width: 58.333%; }
    .uk-width-large-8-12 { width: 66.666%; }
    .uk-width-large-9-12 { width: 75%; }
    .uk-width-large-10-12 { width: 83.333%; }
    .uk-width-large-11-12 { width: 91.666%; }

}

body, html {
	font-family: $fontFamily;
	font-size: 16px;
	color: $colorGray90;
	background: #FAF8F5;
}

* {
	outline: none;
}
 
.position-relative {
	position: relative;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.flex-none {
	flex: none;
}

.text-12 {
	font-size: 12px;
}

.text-14 {
	font-size: 14px;
}

.text-16 {
	font-size: 16px;
}

.text-24 {
	font-size: 24px;
}

.text-32 {
	font-size: 32px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, .uk-logo {
	font-family: $fontFamily;
}

.uk-text-normal {
	font-weight: normal !important;
}

.text-transform-none {
	text-transform: none;
}

.colorFirst {
	color: $colorFirst !important;
}

.uk-radio {
	border-color: #C4C4C4;
}

.uk-radio:checked {
	background-color: #fff;
	border-color: $colorFirst;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.129' width='10' height='10' rx='5' fill='%23D0A567'/%3E%3C/svg%3E");
	background-position: 2px center;
	outline: none;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate {
	background-color: $colorFirst;
}

@mixin headers() {
	font-family: $fontFamilyHeader;
	display: block;
	line-height: 1.3;
	margin: 60px 0 30px 0;
	color: $colorBlack;

	&.colorWhite {
		color: $colorWhite;
	}
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	@include headers();
	margin-bottom: 30px;
	font-size: 2.5em;

	&.innerH1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
	&.detailH1 {
		margin-top: 60px;
	}
}

h2, .h2 {
	@include headers();
	margin-bottom: 20px;
	font-size: 1.875em;
}

h3, .h3 {
	@include headers();
	margin-bottom: 20px;
	font-size: 1.4em;
}

h4, .h4 {
	@include headers();
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1em;
}

.miniTitle {
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: $colorBlack;
	text-transform: uppercase;
}

a {
	&.h1, &.h2, &.h3, &.h4 {
		color: $colorBlack;
		transition: all .3s;
		display: inline;
		border-bottom: 1px solid transparent;

		&:hover {
			text-decoration: none;
			color: $colorFirst;
			border-color: rgba(255,255,255,.5);
		}
		&.mail {
			border-color: $colorBlack;

			&:hover {
				border-color: transparent;
			}
		}
	}
	&.mail, &.tel {
		color: $colorBlack;
		transition: all .3s;

		&:hover {
			text-decoration: none;
			color: $colorBlack;
		}
	}
}

p {
	a {
		color: $colorBlack;
		border-bottom: 1px solid $colorBlack;
		transition: all .3s;

		&:hover {
			text-decoration: none;
			color: $colorBlack;
			border-bottom-color: transparent;
		}
	}
}

@media (max-width: 640px) {
	h1, .h1 {
		font-size: 2.75em;
		margin-top: 20px;
	}

	h2, .h2 {
		font-size: 1.77em;
	}

	h3, .h3 {
		font-size: 1.55em;
	}
	.imageDots {display:none}
	.toTopWrap{bottom:100px!important}
}

.colorGray {
	color: $colorGray90;
}

.colorGray70 {
	color: $colorGray70;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 13px 30px;
	border: 1px solid $colorFirst;
	border-radius: 41px;
	transition: all .3s;
	cursor: pointer;
	font-size: 16px;
	font-family: $fontFamily;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-sizing: border-box;
	outline: none;

	&.brownBtn, &.btn-success, &.btn-primary {
		background: $colorFirst;
		color: $colorWhite;

		&:hover {
			background: $colorFirstHover;
			color: $colorWhite;
			text-decoration: none;
		}
	}
	&.transBtn {
		background: transparent;
		color: $colorFirst;

		&:hover {
			background: $colorFirst;
			color: $colorWhite;
			text-decoration: none;
		}
	}
	&.whiteTransBtn {
		background: $colorBlack;
		color: $colorWhite;
		border-color: $colorWhite;

		&:hover {
			background: $colorWhite;
			color: $colorBlack;
			text-decoration: none;
		}
	}
	&.smallBtn {
		font-size: 12px;
		padding: 10px 20px;
	}
}

.withArrow {
	color: $colorFirst;
	position: relative;
	transition: all .3s;
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;

	&:before {
		content: "";
		display: block;
		width: 28px;
		height: 8px;
		position: absolute;
		top: calc(50% - 3px);
		background-image: url("data:image/svg+xml,%3Csvg width='28' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.483 4.074a.5.5 0 000-.707L24.3.185a.5.5 0 10-.707.707l2.829 2.829-2.829 2.828a.5.5 0 10.707.707l3.183-3.182zM.129 4.221h27v-1h-27v1z' fill='%23D0A567'/%3E%3C/svg%3E");
		transition: all .3s;
	}
	&.right {
		padding-right: 40px;

		&:before {
			right: 0;
		}
		&:hover {
			&:before {
				right: -3px;
			}
		}
	}
	&.left {
		padding-left: 50px;

		&:before {
			transform: rotate(180deg);
			left: 0;
		}
		&:hover {
			&:before {
				left: -3px;
			}
		}
	}
	&:hover {
		text-decoration: none;
		color: $colorFirstHover;
	}
}

.inputGroup {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-bottom-color: $colorGray50;
	box-sizing: border-box;
	padding-top: 10px;
	background: #fff;

	&.textarea {
		border-color: $colorGray50;
		border-radius: 5px;
	}
	.inputName {
		font-size: inherit;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 10px;
		top: 14px;
		transition: all 0.2s ease;
		color: $colorGray50;

		.requared {
			color: $colorError;
		}
	}
	.uk-input {
		padding-left: 10px;
		border: none;
		height: 38px;
		color: $colorBlack;
	}
	.uk-textarea {
		padding-left: 15px;
		border: none;
		color: $colorBlack;
	}
	&.completed {
		.inputName {
			top: 5px;
			left: 10px;
			font-size: 9px;
			color: $colorGray90;
		}
		&.active {
			border-color: $colorFirst;
		}
	}
	.input-msg {
		position: absolute;
	    bottom: -20px;
	    font-size: 13px;
	    left: 0;
	    width: 100%;
		color: $colorError;
	}
}

.policy {
	text-align: center;
	font-size: 12px;
	color: $colorGray90;
}

.chooseFileBtn {
	background: $colorGray90;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	font-size: 16px;
}

input[type="file"] {
	cursor: pointer;
}

.headerSticky {
	.logoFixed, .headerFixedContacts {
		display: none;
	}

	&.uk-sticky-fixed {
		background: #000;
		
		.btn {
			padding: 8px 32px;
			font-size: 14px;
			height: 40px;
		}
		.headerSearchBtn {
			width: 40px;
			height: 40px;
		}
		.headerFixedContacts {
			display: inline-block;
		}
		.headerEmail {
			color: #d0a567;
		}
		header {
			padding: 15px 0;
		}
	}
}

@media (min-width: 640px) {
	.headerSticky {

		&.uk-sticky-fixed {

			.logoLink {
				display: none;
			}
			.logoFixed {
				display: block;
			}
		}
	}
}

.headerEmail {
	color: $colorFirst;
	border-bottom: 1px solid $colorFirstOpacity;
	transition: all .3s;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
		color: $colorFirst;
	}
}

.topLine {
	border-bottom: 1px solid rgba(255,255,255,.3);
	position: relative;
	z-index: 3;
}

.topLineTel {
	font-weight: bold;
	color: $colorWhite;

	&:hover {
		color: $colorWhite;
		text-decoration: none;
	}
}

.hoverDropdown {
	box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	overflow: hidden;
}

.headerSocial {
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		color: $colorWhite;
		background: $colorSecond;
		border-radius: 50%;
		transition: all .3s;

		&:not(:last-child) {
			margin-right: 10px;
		}
		&:hover {
			background: $colorFirstHover;
		}
	}
}

.uk-navbar-nav {
	> li {
		> a {
			min-height: 50px;
			font-weight: 600;
			color: #aaaaaa;
			font-size: 12px;
			letter-spacing: 1.5px;
			white-space: nowrap;
		}
		&:hover, &.uk-active {
			> a {
				color: $colorFirst;
			}
		}
	}
}

header {
	position: relative;
	z-index: 2;
	padding: 25px 0;
}

.mainSlider {
	background: #000;
	margin-top: -160px;
	margin-bottom: 100px;

	.mainSlide {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		display: flex;
		align-items: center;

		.slideTitle {
			font-family: $fontFamilyHeader;
			font-size: 52px;
			line-height: 1.2;
			color: $colorWhite;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 35px;
		}
	}
}

.sliderArrow {
	border: 1px solid $colorWhite;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0px 0px 8px rgba(82, 73, 60, 0.05));
	border-radius: 27px;
}

.mainSliderDots {
	&.uk-dotnav {
		> * {
			> * {
				height: 1px;
				width: 75px;
				background: #fff;
				border: none;
			}
		}
		> .uk-active {
			> * {
				background: $colorFirst;
			}
		}
	}
}

.headerSearchBtn {
	margin-left: 30%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid $colorFirst;
	color: $colorWhite;
	transition: all .3s;
	box-sizing: border-box;
	
	&:hover {
		background: $colorFirst;
		color: $colorWhite;
	}
}

.headerActions {
	a {
		color: $colorWhite;
	}
}

.mainSection {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	transition: all .3s;
	overflow: hidden;

	img {
		transition: all .3s ease;
	}
	&:hover {
		border-color: $colorFirstHover;

		.mainSectionTitle {
			color: $colorFirstHover;
			border-color: rgba(220,188,141,.2);

			span {
				color: $colorGray70;
			}
		}
		img {
			transform: scale(1.1);
		}
	}
}

.mainSectionTitle {
	color: $colorBlack;
	border-bottom: 1px solid rgba(0,0,0,.2);
	transition: all .3s;

	span {
		color: $colorGray70;
		display: inline-block;
		margin-left: 10px;
	}
}

.toCatalog {
	display: flex;
	border: 1px solid $colorFirst;
	background: #ECECEC;
	height: 0;
	padding-top: 100%;
	position: relative;
	color: $colorFirst;
	transition: all .3s;

	.sliderArrow {
		border-color: $colorFirst;
		margin-bottom: 10px;
	}
	.toCatalogWrap {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&:hover {
		border-color: $colorFirstHover;
		color: $colorFirstHover;
		text-decoration: none;

		.sliderArrow {
			border-color: $colorFirstHover;
		}
	}
}

.newsListImg {
	display: block;
	overflow: hidden;

	img {
		transition: all .3s ease;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.primaryBlock {
	background: $colorSubstrate;
	padding: 100px 0 0;
}

.primaryTel {
	white-space: nowrap;
	font-size: 26px;
	color: $colorBlack;
	border-bottom: 1px solid transparent;
	transition: all .3s;

	&:hover {
		color: $colorBlack;
		border-color: #000;
		text-decoration: none;
	}
}

.primaryEmail {
	color: $colorFirst;
	border-bottom: 1px solid $colorFirstOpacity;
	transition: all .3s;

	&:hover {
		color: $colorFirst;
		border-color: transparent;
		text-decoration: none;
	}
}

.primarySocial {
	display: flex;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		color: $colorFirst;
		background: transparent;
		border-radius: 50%;
		transition: all .3s;
		border: 1px solid $colorFirst;

		&:not(:last-child) {
			margin-right: 10px;
		}
		&:hover {
			color: $colorWhite;
			background: $colorFirstHover;
		}
	}
}

.primaryBlockForm {
	box-sizing: border-box;
	background: $colorWhite;
	box-shadow: 0px 0px 8px rgba(82, 73, 60, 0.05);
	border-radius: 2px;
	max-width: 420px;
	padding: 55px 70px;
	margin-top: -185px;
	margin-bottom: -100px;
}

footer {
	background: $colorBlack;
	padding: 100px 0 30px;

	.headerSocial {
		justify-content: flex-start;
	}
	.miniTitle {
		color: #737373;
		margin-top: 50px;
		margin-bottom: 15px;
	}
}

.footerMenu {
	list-style-type: none;
	padding-left: 0;

	li {
		margin-bottom: 20px;
	}
	a {
		color: $colorWhite;
		transition: all .3s;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom-color: $colorWhite;
			text-decoration: none;
		}
	}
}

.footerContacts {
	.title {
		color: $colorGray70;
		margin-bottom: 5px;
	}
	a {
		font-weight: 700;
		color: $colorWhite;
		border-bottom: 1px solid transparent;
		transition: all .3s;

		&.email {
			border-color: rgba(255,255,255,.3);

			&:hover {
				border-bottom-color: transparent;
			}
		}
		&:hover {
			border-color: rgba(255,255,255,.3);
			text-decoration: none;
		}
	}
	p {
		margin: 0;
		color: $colorWhite;
		font-weight: 700;
	}
}

hr {
	&.white {
		border-color: $colorGray70;
	}
}

.copyright {
	color: $colorWhite;

	a {
		color: $colorWhite;
		border-bottom: 1px solid rgba(255,255,255,.3);
		transition: all .3s;

		&:hover {
			text-decoration: none;
			border-color: transparent;
		}
	}
}

.developer {
	color: $colorWhite;
	border-bottom: 1px solid transparent;
	transition: all .3s;

	&:hover {
		color: $colorWhite;
		text-decoration: none;
		border-color: rgba(255,255,255,.3);
	}
}

.borderedLink {
	color: #D0A567;
	border-bottom: 1px dashed rgba(208,165,103,.3);
	transition: all .3s;

	&:hover {
		color: #D0A567;
		border-bottom-color: transparent;
		text-decoration: none;
	}
}

.dropdownLk {
	.personalName {
		margin: -25px -25px 10px;
		width: calc(100% + 50px);
		background: $colorSubstrate;
		font-weight: 600;
		padding: 10px 25px;
		box-sizing: border-box;
	}
	.link {
		box-sizing: border-box;
		width: calc(100% + 50px);
		margin-left: -25px;
		margin-right: -25px;
		display: block;
		color: $colorBlack;
		padding: 10px 25px;
		transition: all .3s;

		&:hover {
			text-decoration: none;
			background: $colorSubstrate;
		} 
	}
	.logout {
		margin-top: 10px;
		color: $colorGray70;
		display: inline-flex;
		align-items: center;

		i {
			margin-right: 5px;
		}
	}
}

.imageDots {
	margin-left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		flex: 1;

		a {
			border-radius: 0;
			display: block;
			width: 100%;
			border: none;
			height: 100%;
			position: relative;
			background-color: transparent;
			padding: 0 5px;
			box-sizing: border-box;

			&:after {
				content: "";
				width: calc(100% - 10px);
				height: 3px;
				display: block;
				background: rgba(255, 255, 255, 0.37);
				position: absolute;
				bottom: 5px;
				opacity: 0;
				transition: all .3s;
				box-sizing: border-box;
			}
		}
		&.uk-active {
			a {
				background-color: transparent;
				&:after {
					background: $colorWhite;
				}
			}
		}
	}
}

.productImg {
	position: relative;
}

.productItem {
	&:hover {
		z-index: 2;

		.imageDots {
			li {
				a {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

.inStock {
	color: $colorSuccess;
	font-size: 14px;

	i {
		margin-right: 5px;
	}
}

.outOfStock {
	font-size: 14px;
	color: $colorGray70;
}

.producItemName {
	color: $colorBlack;
	transition: all .3s;
	border-bottom: 1px solid transparent;

	&:hover {
		color: $colorBlack;
		text-decoration: none;
		border-color: $colorBlack;
	}
}

.productItemPrice {
	display: flex;
	align-items: center;
}

.currentPrice {
	font-weight: 600;
	margin-right: 7px;
	font-size: 20px;
}

.oldPrice {
	font-size: 12px;
	text-decoration-line: line-through;
	margin-right: 7px;
	transition:all .3s;
}

.percentPrice {
	background: $colorFirst;
	transition:all .3s;
	width: 40px;
	height: 22px;
	color: $colorWhite;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 28px;
}

.productLabel {
	background: $colorFirst;
	border-radius: 0px 0px 12px 0px;
	color: $colorWhite;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 76px;
	height: 30px;
	text-transform: uppercase;
}

.productFav {
	background: rgba(0,0,0,.1);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $colorWhite

	path {
		transition: all .3s;
	}
	&:hover {
		path {
			fill-rule: nonzero;
		}
	}
	&.active {
		path {
			fill-rule: nonzero;
			fill: $colorFirst;
		}
	}
}

.uk-tooltip {
	box-shadow: 0px 0px 8px rgba(82, 73, 60, 0.05);
	border-radius: 2px;
	background: $colorWhite;
	border: 1px solid $colorWhite;
	font-size: 14px;
	color: $colorBlack; 
	padding: 12px 10px;
}

#callMeModal, #askProductModal {
	.uk-modal-dialog {
		width: 440px;
		box-sizing: border-box;
		padding: 75px;
	}
}

.uk-modal-dialog {
	border-radius: 5px;
}

.grecaptcha-badge {
    visibility: hidden;
}

.captchaPolicy {
	color: $colorWhite;
}

.innerPages {
	.topLine, header {
		background: $colorBlack;
	}
}

.bx-breadcrumb {
	display: flex;
	align-items: center;
	margin-top: 30px;
	font-size: 14px;
	color: $colorGray70;
	white-space: nowrap;
	overflow-x: auto;

	a {
		color: $colorGray90;
	}
	i {
		margin: 0 10px;
	}
}

.uk-pagination {
	margin: 50px 0;
	justify-content: center;

	li {
		padding: 0 10px;

		&:before {
			display: none;
		}
		a, span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			box-sizing: border-box;
		}
		a {
			border: 1px solid $colorFirst;
			color: $colorBlack;
			transition: all .3s;

			&:hover {
				background: $colorFirst;
				border-color: $colorFirst;
				color: $colorWhite;
			}
		}
		&.uk-active {
			a, span {
				border: 1px solid $colorFirst;
				background: $colorFirst;
				color: $colorWhite;
			}
		}
	}
}

.statiDate {
	color: $colorGray70;
}

.shareBtn {
	color: $colorFirst;
	cursor: pointer;

	span {
		margin-right: 10px;
	}
}

.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge, .ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__mobile-popup-badge {
	background: $colorFirst !important;
}

.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
	width: 40px !important;
	height: 40px !important;
	background-size: 36px 36px !important;
	background-repeat: no-repeat !important;
}

.toTop {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $colorFirst;
	color: #ffffff
}

.toTopWrap {
	position: fixed;
	right: 20px;
	bottom: 50px;
	display: none;
}

.sidebarMenu {
	list-style-type: none;
	padding-left: 0;

	a {
		display: block;
		padding: 10px 25px;
		background: $colorSubstrate;
		color: $colorBlack;
		border-left: 2px solid transparent;
		transition: all .3;

		&.selected {
			border-color: $colorFirst;
		}
		&:hover {
			text-decoration: none;
			border-color: $colorFirst;
		}
	}
	li {
		margin-bottom: 10px;
	}
}

.uk-accordion-title {
	&:before {
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5 1 1' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	}
}

.uk-open {
	> .uk-accordion-title {
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5l4-4 4 4' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}
}

.uk-accordion {
	> * {
		padding-bottom: 20px;
		border-bottom: 1px solid $colorGray40;

		&:first-child {
			border-top: 1px solid $colorGray40;
			padding-top: 20px;
		}
	}
}

.rating-result {
	width: 265px;

	span {
		padding: 0;
		font-size: 22px;
		line-height: 1;
		color: $colorGray50;

		&:before {
			content: '★';
		}
		&.active {
			color: $colorFirst;
		}
	}
}

.rating-area {
	overflow: hidden;
	width: 105px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 25px;
	line-height: 32px;
	color: $colorGray50;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: $colorFirst;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: $colorFirst;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: $colorFirst;
}
.rate-area > label:active {
	position: relative;
}

.hiddenPart {
	transition: all .3s;

	&:not(.active) {
		display: none;
	}
}

.readMore {
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
	outline: none;
	color: $colorFirst;

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1.395 3.498L5.5 7.604l4.106-4.106' stroke='%23D0A567'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h11v11H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		left: calc(100% + 5px);
		top: 4px;
	}
	&.active {
		&:after {
			transform: rotate(180deg);
		}
	}
}

.partnerstvoSlide {
	box-sizing: border-box;
	min-height: 450px;
	padding: 90px;
	background: url("../img/partnerstvo.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;

	.title {
		font-family: $fontFamilyHeader;
		font-size: 42px;
		line-height: 1.25;
	}
}

.sliderWhiteArrow {
	background: #FFFFFF;
	box-shadow: 0px 0px 60px #F9F3EA;
	border-radius: 50%;
	color: $colorFirst;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: calc(50% - 40px);
	padding: 0;

	&.left {
		left: -20px;
	}

	&.right {
		right: -20px;
	}
}

.contactsSocial {
	justify-content: flex-start;
}

.contactsFormBlock {
	box-shadow: 0px 0px 8px rgba(82, 73, 60, 0.05);
	border-radius: 2px;
	padding: 55px 70px;
	width: 420px;
	box-sizing: border-box;
	background: #fff;
}

.catalogSections {
	a {
		color: $colorBlack;
		border-bottom: 1px solid rgba(0,0,0,.2);
		transition: all .3s;

		span {
			color: $colorGray70;
			display: inline-block;
			margin-left: 10px;
		}
		&:hover {
			text-decoration: none;
			color: $colorFirstHover;
			border-color: $colorFirstOpacity;
		}
	}
}

.paginationWrap {
	margin: 100px 0;

	ul {
		padding-left: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			padding: 0 10px;
		}
		a {
			display: flex; 
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid $colorFirst;
			color: $colorBlack;
			transition: all .3s;

			&:hover {
				background: $colorFirst;
				color: $colorWhite;
				text-decoration: none;
			}
		}
		span:not(.uk-icon)  {
			display: flex; 
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid $colorFirst;
			background: $colorFirst;
			color: $colorWhite;
		}
	}
}

.uk-tab {
	> * {
		> a {
			text-transform: none;
			font-size: 16px;
			color: $colorGray90;
			font-weight: 600;
		}
	}
	> .uk-active {
		> a {
			color: $colorFirst;
			border-color: $colorFirst;
			border-width: 3px;
		}
	}
}

.uk-thumbnav {
	> * {
		> ::after {
			display: none;
		}
	}
	> .uk-active {
		a {
			border: 2px solid $colorBlack;
		}
	}
}

.articul {
	color: $colorGray70;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.1em;
}

.productDetailPrice {
	color: $colorFirst;
	display: flex;
	align-items: center;

	.currentPrice {
		font-size: 21px;
		font-weight: normal;
		font-family: $fontFamilyHeader;
		margin-right: 0;
	}
	.oldPrice {
		margin: 0 15px;
	}
}

.detailProductFav {
	border: none;
	background: transparent;
	color: $colorFirst;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
	padding: 0;

	path {
		fill: $colorFirst;
	}
	span {
		margin-right: 5px;
	}
}

.prodQuant {
	display: flex;
	align-items: center;
	border: 1px solid #D8D8D8;
	box-sizing: border-box;
	border-radius: 41px;

	input {
		border: none;
		font-size: 16px;
		background: transparent;
		text-align: center;
		height: 50px;
		width: 30px;
	}
	button {
		height: 48px;
		width: 37px;
	}
}

.detailBuyBtn {
	width: 191px;
}

.download3d {
	color: $colorFirst;

	span {
		border-bottom: 1px solid transparent;
		transition: all .3s;
	}
	&:hover {
		text-decoration: none;
		color: $colorFirst;

		span {
			border-color: $colorFirst;
		}
	}
}

.detailPropsTable {
	max-width: 500px;

	td {
		padding-top: 5px;
		padding-bottom: 5px;
		
		&:first-child {
			color: $colorGray70;
			padding-left: 0;
		}
	}
}

.headerFav, .headerBAsket {
	position: relative;

	.counter {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $colorFirst;
		color: $colorWhite;
		font-size: 10px;
		font-weight: 600;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}
}

.personal-block-link {
	display: block;
	box-shadow: 0px 0px 8px rgba(82, 73, 60, 0.05);
	padding: 60px 30px 30px;
	color: $colorBlack;
	background: $colorWhite;
	transition: all .3s;

	i {
		color: $colorFirst;
	}
	p {
		margin: 10px 0 0;
	}
	&:hover {
		box-shadow: 0px 0px 15px rgba(82, 73, 60, 0.5);
		color: $colorBlack;
		text-decoration: none;

		i {
			color: $colorFirst;
		}
	}
}

.sale-personal-section-index-block-ico {
	font-size: 0;
}

.userData {
	background: $colorFirst;
	padding: 20px;
	border-radius: 5px;
	color: $colorWhite;
	font-weight: 600;
	margin-bottom: 10px;

	p {
		margin: 0;
	}
	.logout {
		color: $colorWhite;
		font-weight: normal;
		font-size: 14px;
		display: inline-block;
		margin-top: 30px;

		i {
			margin-right: 5px;
		}
	}
}

.leftMenu {
	list-style-type: none;
	padding-left: 0;

	li {
		margin-bottom: 10px;
	}
	a {
		display: block;
		background-color: $colorSubstrate;
		color: $colorBlack;
		padding: 10px 20px;
		border-left: 2px solid $colorSubstrate;
		transition: all .3s;

		&:hover, &.selected {
			text-decoration: none;
			border-color: $colorFirst;
		}
	}
}

.tabsLinks {
	display: flex;
	align-items: center;
	overflow-x: auto;
	border-bottom: 1px solid $colorGray50;

	a {
		display: block;
		color: $colorGray90;
		font-weight: 600;
		border-bottom: 3px solid transparent;
		transition: all .3s;
		margin-right: 20px;

		&:hover, &.active {
			border-color: $colorFirst;
			color: $colorFirst;
			text-decoration: none;
		}
	}
}

.ordersTable {
	th {
		text-transform: none;
		font-size: 14px;
		color: $colorGray70;
	}
	a {
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		color: $colorFirst;
		transition: all .3s;
		border-bottom: 1px solid transparent;

		&:hover {
			color: $colorFirst;
			text-decoration: none;
			border-color: $colorFirst;
		}
	}
}

.orderInfo {
	td {
		&:first-child {
			color: $colorGray70;
		}
	}
}

.orderDetailSumm {
	text-align: right;
	
	span {
		font-weight: bold;
		font-size: 24px;
	}
}

.uk-dropdown {
	border-radius: 5px;
	&.bx-basket-item-list {
		padding: 20px;
		border-radius: 5px;
	}
}

.bx-basket-item-list-item-name {
	position: relative;
	font-size: 12px;

	a {
		color: $colorBlack;
		font-weight: 400;
	}
	.cnt {
		color: $colorGray70;
	}
	.summ {
		font-weight: 600;
	}
}

.bx-basket-item-list-container {
	scrollbar-color: $colorGray40 #f0f0f0;
	scrollbar-width: thin;

	&::-webkit-scrollbar-track {
		background-color: $colorGray40;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: #FAFAFA;
	}
	&::-webkit-scrollbar-thumb {
		background-color:  $colorGray40;
	}
}

.smallBasketSummary {
	font-weight: 600;
	text-align: right;
}

.basket-items-list-wrapper, .basket-items-list-wrapper-compact {
	border: none;
}

.basket-items-list {
	padding: 0;
}

.basket-items-list-item-container {
	border-bottom: 1px solid $colorGray50;

	.basket-item-block-image {
		padding: 0;
		max-width: 100px;
		flex: none;
	}
	img {
		max-width: 100px;
	}
	td {
		padding: 20px 0;

		&.basket-items-list-item-amount {
			padding-right: 30px;
			padding-left: 30px;
		}
		&.basket-items-list-item-price {
			padding-right: 30px;
		}
	}
	.basket-item-block-info {
		padding: 0 30px;

		a {
			transition: all .3s;
			border-bottom: 1px solid transparent;
			padding-right: 0;
			display: inline;

			&:hover {
				text-decoration: none;
				color: $colorBlack;
				border-color: $colorBlack;
			}
		}
	}
}

.couponForm {
	height: 50px;
	width: 155px;
	padding: 5px 10px;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	box-sizing: border-box;
}

.catalogMenu {
	list-style-type: none;
	padding-left: 0;
	margin-left: -25px;
	margin-bottom: 0;

	ul {
		display: none;
		position: absolute;
	    width: calc(100% - 340px);
	    right: 0;
	    top: 0;
	    height: 100%;
	    background-color: $colorSubstrate;
		list-style-type: none;
		padding: 30px 60px;
		box-sizing: border-box;
    	
		li {
			margin-bottom: 25px;
		}
		a {
			color: $colorBlack;
			transition: all 0.3s;
			border-bottom: 1px solid transparent;

			&:hover {
				text-decoration: none;
				border-color: $colorBlack;
				color: $colorBlack;
			}
		}
	}
	> li {
		display: block;
		width: 340px;
		max-width: 100%;

		> a {
			width: 100%;
			display: flex;
			align-items: center;
			height: 50px;
			padding: 0 40px;
			box-sizing: border-box;
			color: $colorBlack;
			font-weight: 600;
			transition: all .3s;

			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			> a {
				background-color: $colorSubstrate;
				text-decoration: none;
			}
		}
		&.parent {
			> a {
				position: relative;

				&:after {
					content: '›';
					position: absolute;
					top: calc(50% - 12px);
					right: 40px;
					color: #D0A567;
				}
			}
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
}

.uk-search-default {
	width: 100%;

	.uk-search-input {
		border: none;
		border-bottom: 1px solid $colorBlack;
		height: 50px;
	}
}

.uk-modal-header {
	border: none;
}

.mobileCatalogMenu {
	&.uk-nav-default {
		> li {
			div > a, > a {
				color: #000;
				font-weight: 600;
				font-size: 16px;

				&:after {
					display: none;
				}
			}
			span {
				display: block;
				width: 24px;
				height: 24px;
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.105 1l4.106 4.106-4.106 4.106' stroke='%23D0A567'/%3E%3C/svg%3E");
				background-position: center;
				background-repeat: no-repeat;

				&.active {
					transform: rotate(90deg);
				}
			}
		}
		.uk-nav-sub {
			display: none;
			a {
				color: #000;
				font-size: 16px;
			}
		}
	}
}

#mobileMenu {
	background: $colorBg;
}

.mobileMenuBg {
	background: $colorBg;
	margin: 30px -30px 0;
	padding: 30px;
	padding-bottom: 0;

	.mobileCatalogMenu {
		&.uk-nav-default {
			> li {
				> a {
					font-weight: normal;
				}
			}
		}
	}
}

.mobileMenuPhone {
	color: $colorBlack;
	font-weight: bold;
}

.mobileMenuEmail {
	color: $colorFirst;
	border-bottom: 1px solid rgba(208,165,103,.3);
	transition: all .3s;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
		color: $colorFirst;
	}
}

.searchSectionTitle {
	padding-top: 20px;
	margin-bottom: 15px;
	border-top: 1px solid $colorGray30;
}

.searchCatTogle {
	cursor: pointer;
	display: inline-block;
}

.searchSection {
	color: #000;
	transition: all .3s;
	border-bottom: 1px solid transparent;

	&:hover {
		text-decoration: none;
		color: #000;
		border-bottom-color: #000;
	}
	span {
		color: $colorGray50;
	}
}

.searchTitle {
	color: #000;
	transition: all .3s;
	border-bottom: 1px solid transparent;

	&:hover {
		text-decoration: none;
		color: #000;
		border-bottom-color: #000;
	}
}

.searchPrice {
	font-weight: 600;
	margin: 5px 0;
}

.g-recaptcha, .g-recaptcha div {
	overflow: hidden;
	max-width: 100%;
}

.g-recaptcha iframe { 
	transform: scale(0.9);
	transform-origin: left top;
}

.bx-filter .bx-filter-block.uk-dropdown {
	scrollbar-color: $colorGray40 #f0f0f0;
	scrollbar-width: thin;

	&::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: #FAFAFA;
	}
	&::-webkit-scrollbar-thumb {
		background-color:  $colorGray40;
	}
}

.filterWrap {
	border-top: 1px solid $colorGray40;
	border-bottom: 1px solid $colorGray40;
	padding-top: 15px;
}

.sortTitle {
	font-weight: bold;
	cursor: pointer;
}

.countTitle {
	cursor: pointer;
}

.sortDropdown, .countDropdown {
	div {
		margin-bottom: 10px;
	}
	a {
		color: $colorBlack;
		transition: all .3s;

		&:hover {
			color: $colorFirst;
			text-decoration: none;
		}
	}
}

.openMobileFilter {
	border: 1px solid $colorBlack;
	box-sizing: border-box;
	border-radius: 41px;
	padding: 10px 20px;
	color: $colorBlack;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.5;
	background: transparent;
}

.mobileFilter {
	display: none;
	background: #fff;

	.uk-modal-body {
		padding-top: 0;
		padding-bottom: 0;
		height: 100vh;
	}
	.bx-filter {
		margin-bottom: 0;
	}
	.uk-accordion-title {
		font-size: 14px;
		font-weight: 600;
	}
}

.col {
	&.sale-order-payment-change-pp {
		width: 100%;
	}
}

.offerName {
	font-size: 14px;
	color: $colorGray70;
}

[data-offers],[data-plafons],[data-karkas],[data-razmer] {
	display: flex;
	flex-wrap: wrap;

	div {
		border: 1px solid $colorGray50;
		box-sizing: border-box;
		border-radius: 3px;
		padding: 10px 15px;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;

		&.active {
			border-color: $colorFirst;
			background: $colorFirst;
			color: #fff;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

[data-lampcurr="1"] {
	border-color: $colorFirst !important;
	background: $colorFirst;
	color: #fff;
}

.offers_container {
	margin-bottom: 45px;
}

.uk-notification-message {
	font-size: 12px;

	.img {
		width: 75px;
		margin-right: 10px;
		flex: none;
	}
	.h5 {
		font-weight: bold;
		margin-bottom: 10px;
	}
	a {
		color: $colorBlack;
		transition: all .3s;

		&:hover {
			color: $colorFirst;
			text-decoration: none;
		}
	}
	.count {
		color: #8c8c8c;
	}
	.price {
		font-weight: 600;
	}
}

#mobileSearch {
	background: #fff;
}

.searchProducts {
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-bottom: 20px;
	scrollbar-color: $colorFirst #f0f0f0;
	scrollbar-width: thin;

	&::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		background-color: #FAFAFA;
	}
	&::-webkit-scrollbar-thumb {
		background-color:  $colorFirst;
	}

	> div {
		flex: none;
	}
}

.fixedCallMe {
	width: 80px;
    height: 80px;
    background: url("../img/phoneBtn.svg") no-repeat scroll center center transparent!important;
    background-size: contain !important;
    position: fixed;
    bottom: 100px;
    right: 80px;
    cursor: pointer;
}

.api-mf-antibot {
	display: none;
}

#auth-modal {
	.uk-modal-dialog {
		width: 390px;
	}
	.h2 {
		margin-top: 20px;
	}
}

.authRegToggle {
	border-bottom: 1px solid $colorGray50;

	span, a {
		color: $colorFirst;
		display: inline-block;
		padding-bottom: 13px;
	}
	span {
		border-bottom: 3px solid $colorFirst;
		font-weight: bold;
	}
	a {
		&:hover {
			text-decoration: none;
			border-bottom: 3px solid $colorFirst;
		}
	}
}

.detailLabel {
	background: $colorFirst;
    border-radius: 0px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (min-width: 960px) {
	.uk-flex-row-reverse\@m {
		flex-direction: row-reverse;
	}
}

@media (max-width: 1200px) {
	.uk-navbar-nav {
		> li {
			> a {
				padding: 0 5px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.headerEmail {
		display: none;
	}
	.primaryBlockForm {
		padding: 30px;
		margin-top: 0;
	}
	.primaryBlock {
		padding-top: 40px;
	}
}

@media (max-width: 960px) {
	.contactsFormBlock {
		margin: 0 auto;
	}
	.basket-checkout-container {
		align-items: flex-start;
	}
	.filterWrap {
		padding-bottom: 15px;
	}
	.headerSticky.uk-sticky-fixed .headerFixedContacts {
		display: none;
	}
}

@media (max-width: 830px) {
	.topLine .uk-width-1-3\@s {
		display: none;
	}
}

@media (max-width: 640px) {
	h2, .h2 {
		margin-top: 40px;
	}
	.headerBtns {
		justify-content: space-between;
	}
	.mainSlider {
		margin-top: -185px;
	}
	.mainSlider {
		margin-bottom: 50px;

		.uk-container {
			padding: 0;
		}
		.mainSlide {
			background-size: cover;
			padding: 0 15px;

			.slideTitle {
				font-size: 32px;
			}
		}
	}
	.mainSliderNav {
		padding-left: 15px;
	}
	.toCatalog {
		height: 0;
		padding-top: 100%;
	}
	.primaryBlockForm {
		margin: 30px auto 0;
	}
	.sliderWhiteArrow {
		&.right {
			right: 0;
		} 
		&.left {
			left: 0;
		} 
	}
	.main-user-consent-request-popup-cont {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: none !important;
	}
	.main-user-consent-request-popup-text {
		width: auto !important;
	}
	.searchProducts {
		flex-wrap: wrap;

		> div {
			margin-top: 30px !important;
		}
	}
	.productItemPrice {
		flex-wrap: wrap;

		.currentPrice {
			/*width: 100%;*/
		}
	}
}

@media (max-width: 420px) {
	.primaryBlockForm {
		margin-left: -15px;
		margin-right: -15px;
	}
	.orderInfo {
		td {
			font-size: 14px;
			padding: 10px;
			word-break: break-word;
		}
	}
	header {
		padding: 10px 0;

		.uk-grid-margin {
			margin-top: 10px !important;
		}
	}
	.mainSlider {
		margin-top: -111px;

		.mainSlide {
			min-height: 100vh;
			padding-top: 35px;

			.btn {
				font-size: 14px;
			}
		}
	}
	div.title-search-result {
		min-width: 100% !important;

		img {
			max-width: 100px;
		}
	}
}